  <h1>Hello, Passenger!</h1>
<title>Binary Relation Application</title>

           <h6> * Binary Relation Application    </h6>

In mathematics, a binary relation on a set A is a collection elements of A. In other words, it is a subset of the Cartesian product A2 = A × A. This application checks A's binary combinations.<br>
  In the first form,enter a list of integers separeted by a newline character.<br>
  In the second form,enter two integer.<br>
  If this two integers' combination are found in the list,the result becomes true.<br><br>
    
          Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
 <textarea name="input3" rows="10" cols="30">
        </textarea>
        <br>
        <input type="submit">
  </form>
